.header{
  background-color: #5186d681;
  padding: 30px 30px 30px 30px;
  margin-bottom: 50px;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.headerNav{
  display: flex; 
  gap: 15px;
}

.navLink{
  text-decoration: none; 
  color: white;
}

.active{
  text-decoration: none;
  border-bottom: 3px solid #0b5ed7;
  font-weight: bold;
  color: #0b5ed7;
}

.textLogo{
  font-size: 26px;
}

.textLogoSpan{
  color: #0b5ed7;
}

.mobileMenuIcon {
  display: none; 
  cursor: pointer;
}


@media (max-width: 650px) {
  .header{
    display: flex;
    position: relative;
  }

  .container{
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .headerNav {
    display: none; 
    
  }

  .headerNav.open {
    display: flex; 
    flex-direction: column;
  }

  .mobileMenuIcon {
    display: block; 
    position: absolute;
    top: 34px;
    right: 25px;
  }
}